<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911276928684-e6ueh7qas6lomjdhvmndrjajcftchbbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911276928684-e6ueh7qas6lomjdhvmndrjajcftchbbf</string>
	<key>API_KEY</key>
	<string>AIzaSyCsYu1es4FNetfL3GWiRSAA1XNtW7sWsJg</string>
	<key>GCM_SENDER_ID</key>
	<string>911276928684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhedie.frontend</string>
	<key>PROJECT_ID</key>
	<string>e-parking-app-b22cb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-parking-app-b22cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911276928684:ios:c1ae5df778e22a74c33909</string>
	<key>DATABASE_URL</key>
	<string>https://e-parking-app-b22cb-default-rtdb.firebaseio.com</string>
</dict>
</plist>